:root{
    --darker-brown: #6b5a47;
    --brighter-brown: #cfa992;
}
#container-searchbarsugestions{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top:10px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
#searchbarsugestions {

    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbarsugestionsp {
    padding-left: 50px;
    padding-right: 10px;
    color: white;
}
.searchbarbutton {
    padding: 6px 30px;
    margin: 5px;
    background-color: white;
    color: var(--darker-brown);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.searchbarbutton:hover{
    background-color: var(--darker-brown);
    color: white;
}