:root{
    --darker-brown: #6b5a47;
    --brighter-brown: #cfa992;
}
#container-searchbarsugestions{
    display: flex;
    align-items: center;
    justify-content: left;
}
#searchbarsugestions {

    display: flex;
    align-items: center;
    justify-content: center;
}
#searchbarsugestionsp {
    color:var(--darker-brown);
}
.searchbarbutton {
    padding: 6px 30px;
    margin: 5px;
    background-color: white;
    color: var(--darker-brown);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}